<a href="https://colab.research.google.com/github/P-swe123/Swetha-peddireddy-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=10.654
type(x)

float

In [ ]:
name="swetha"
type(name)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("Enter the a value:"))
b=int(input("Enter the b value:"))
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)

Enter the a value:6
Enter the b value:7
Addition: 13
Subtraction: -1
Multiplication: 42
Division: 0.8571428571428571
Modulus: 6

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
int(a)
int(float(a))

123

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
name=input("Enter the name:")
name[0]

Enter the name:bhavani

'b'

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
name="Rishi College"
len(name)

13

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
text="RishiMs"
text.isalpha()

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
x="Artificial intelligence & "
y=" Machine learning"
z=x+y
print(z)

Artificial intelligence &  Machine learning

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
s="stringabc"
print("Index is:",s.index("b"))
print("Index is:",s.index("c"))

Index is: 7
Index is: 8

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
name=input("Enter your name:")
print("Uppercase is:",name.upper())
print("lowercase is:",name.lower())

Enter your name:Bhavani
Uppercase is: BHAVANI
lowercase is: bhavani

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character
name="Rishi Ms institute"
count=name.count('i')
print(count)

4

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("Enter your name:")
print("Hello" +name+" Good Morning")

Enter your name:siri
Hellosiri Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=input("Enter a:")
b=input("Enter b:")
sum=int(a)+int(b)
print(sum)

Enter a:67
Enter b:53
120

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("Enter your name:")
age=input("Enter your age:")
print("Hi,my name is "+name+", and i am "+age+" years old")

Enter your name:swetha
Enter your age:20
Hi,my name is swetha, and i am 20 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("Enter the number:"))
if num>0:
  print("The number is positive")
elif num==0:
  print("The number is zero")
else:
  print("The number is negative")

Enter the number:98
The number is positive

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=10
num2=18
num3=20
if(num1 >= num2) and (num1 >= num3):
   maximum=num1
elif(num2 >= num1) and (num2 >= num3):
   maximum=num2
else:
  maximum=num3
print("The largest number is:",maximum)

The largest number is: 20

In [ ]:
a=10
b=24
c=67
print(max(a,b,c))

67

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
Year=int(input("Enter the year:"))
if((Year % 400 == 0) or
     (Year % 100 != 0) and
     (Year % 4 == 0)):
    print("Given Year is a leap Year");
  # Else it is not a leap year
else:
    print ("Given Year is not a leap Year")

Enter the year:2005
Given Year is not a leap Year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
a = int(input("Enter a number:"))
if((a%3==0) & (a%5==0)):
  print("The number is divisile by both 3 and 5")
else:
  print("The number is not divisible by both 3 and 5")

Enter a number:15
The number is divisile by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def isPalindrome(s):
    return s == s[::-1]
# Driver code
s = "malayalam"
ans = isPalindrome(s)
if ans:
    print("Yes")
else:
    print("No")

Yes

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop
print("Even numbers:")
for num in range(1,21):
   if num%2==0:
    print(num)

Even numbers:
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input ("Enter the number to print the multiplication table: "))
print ("The Multiplication Table of: ", number)
for count in range(1, 11):
   print (number, 'x', count, '=', number * count)

Enter the number to print the multiplication table: 5
The Multiplication Table of:  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
i = 1
sum = 0
while (i <= n):
    sum = sum + i
    i = i + 1
print("The sum is: ", sum)

Enter a number: 13
The sum is:  91

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n = int(input("Enter the number: "))
f = 1
while n >= 1:
    f *= n
    n -= 1
print("Factorial is", f)

Enter the number: 5
Factorial is 120

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input ("Enter the number you want to print: "))
a = 0
b = 1
for i in range(0,n):
    print(a, end = " ")
    c = a+b
    a = b
    b = c

Enter the number you want to print: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
a=int(input("Beginning :"))
b=int(input("End:"))

for num in range(a,b+1):
    if num>1:
       for i in range(2,num):
          if num%i==0:
            break
          else:
            print(num)

Beginning :3
End:7
3
5
5
5
7
7
7
7
7

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for i in range(10):
    print(i)
    if i == 2:
        break

0
1
2

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for num in numbers:
  if num%2!=0:
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
s = "hello world"
target = 'l'
count = 0
for c in s:
    if c == target:
        count += 1
print(count)

3

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number=int(input("Enter the number:"))
sum=0
while(number>0):
  reminder=number%10
  sum=sum+reminder
  number=number//10
print("\nSum of the digits of given number=%d"%sum)

Enter the number:23

 Sum of the digits of given number=5

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
a = [10, 20, 30, 40]
res = 0
for val in a:
    res += val

print(res)

100

In [ ]:
# Write a Python program to find the largest element in a list.
a=[10,20,40,50,30]
max(a)

50

In [ ]:
# Write a Python program to reverse a list.
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list = [10, 20, 10, 30, 10, 40, 10, 50]
# n number to be removed is 10
n = 10
print ("Original list:",list)
for x in list:
    if x == n:
        list.remove(x)
print ("list after removing elements:",list)

Original list: [10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements: [20, 30, 40, 50]

In [ ]:
# Write a Python program to find the index of an element in a list.
Choclates= ["Dairymilk", "5 star", "Kit Kat","Munch","Perk"]
print(Choclates.index("5 star"))
print(Choclates.index("Perk"))

1
4

In [ ]:
# Write a Python program to find if a specific element exists in a list.
a = [10, 20, 30, 40, 50]
# Check if 30 exists in the list by using (in keyword)
if 30 in a:
    print("Element exists in the list")
else:
    print("Element does not exist")

Element exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
list_value=[12,15,11,12,8,15,3,3]
print("The original list is ",list_value)
res_list=[]
for i in list_value:
    if i not in res_list:
        res_list.append(i)
print("The list after removing duplicates is: ",res_list)

The original list is  [12, 15, 11, 12, 8, 15, 3, 3]
The list after removing duplicates is:  [12, 15, 11, 8, 3]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
list=[1,4,6,9,1,5,9,3,1,1,4,1,7]
list.count(1)

5

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list=[1,2,3,4,5,6,7,8,9,10]
res=[ val for val in list if val%2==0]
print(res)

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to create a tuple and print it.
thistuple = ("apple", "banana", "cherry","guava","Mango")
print(thistuple)

('apple', 'banana', 'cherry', 'guava', 'Mango')

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = ("Bhavani", "siri", "swetha","meghana","jyothi")
my_list = [i for i in my_tuple]
print(my_list)

['Bhavani', 'siri', 'swetha', 'meghana', 'jyothi']

In [ ]:

my_list = ['A', 'B', 'C', 'D']

my_tuple= tuple(my_list)
print(my_tuple)

('A', 'B', 'C', 'D')

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple=(1,5,8,2,9,10,16,19)
print("The minimum in the tuple is:",min(my_tuple))
print("The maximum i the tuple is:",max(my_tuple))

The minimum in the tuple is: 1
The maximum i the tuple is: 19

In [ ]:
# Write a Python program to unpack a tuple into variables.
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}
my_set.add(10)
print(my_set)
if 3 in my_set:
    print("Element found in the set")
else:
    print("Element not found in the set")

{1, 2, 3, 4, 5, 10}
Element found in the set

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it

# Creating dictionary by key:value pair format
Dictionary = dict([(1, 'keyvalue'), (2, 'Python'), (3, 'Dictionary')])
print("\nDictionary with key:value pair format:\n ",Dictionary)

Dictionary with key:value pair format:
  {1: 'keyvalue', 2: 'Python', 3: 'Dictionary'}

In [ ]:
# Write a Python program to access a dictionary value using a key.
dict = {"country" : "India", "continent" : "Asia","Other_name" : "Bharat"}
x = dict["Continent"]
print(x)

Asia

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
d = {'a': 1, 'b': 2, 'c': 3,'d':4}
# Key to check
key = 'b'
print(key in d)

key = 'g'
print(key in d)

True
False

In [ ]:
# Write a Python program to merge two dictionaries.
d1 = {'a': 10, 'b': 8}
d2 = {'d': 6, 'c': 4}

d1.update(d2)
print(d1)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.
d1 = {'a': 10, 'b': 8,'d': 6, 'c': 4}
del d1['d']
print("The dictionary after remove is : ",d1)

The dictionary after remove is :  {'a': 10, 'b': 8, 'c': 4}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'name': 'swetha','age': 20, 'tasks': ['dev', 'test']}

result_1 = len(my_dict)
print(result_1)

result_2 = len(my_dict.keys())
print(result_2)

3
3

In [112]:
# Write a Python program to find the largest and smallest values in a dictionary
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}

v = marks.values()
maxi = max(v)
mini = min(v)

print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [117]:
# Write a Python function that returns the square of a number.
def square(number):
  return number*number
number=9
result=square(number)
print(result)

81

In [131]:
# Write a Python function that accepts two parameters and returns their sum.
def addnum(x,y):
    sum=x+y
    return sum
  #call the addnum function with two arguments
result=addnum(2,3)
print(result)

5

In [140]:
# Write a Python function to check if a given number is prime.
def isPrime(n):
    if n==0 or n==1:
      return False
    for  i in range(2,n):
      if n%i==0:
        return False
    return True
    #call isprime function
number=isPrime(5)
print(number)

True

In [1]:
# Write a Python function to calculate the factorial of a number using recursion.
def recur_factorial(n):
  if n==1:
    return n
  else:
    return n*recur_factorial(n-1)
num=6
if num<0:
  print("Factorial does not exist for negative numbers")
elif num==0:
  print("The Factoril of 0 is 1")
else:
  print("The factorial of",num,"is",recur_factorial(num))

The factorial of 6 is 720

In [3]:
# Write a Python function to calculate the power of a number using recursion.
def power(base,exp):
  if(exp==1):
    return(base)
  if(exp!=1):
    return(base*power(base,exp-1))
base=int(input("Enter base:"))
exp=int(input("Enter exponential value:"))
print("Result:",power(base,exp))

Enter base:6
Enter exponential value:2
Result: 36

In [7]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def compute(pr):
  if type(pr) is list:
    print("List Length:",len(pr))
    print("List Elements:")
    for i in  pr:
      print(i)
    if type(pr) is str:
       print("String length:" ,len(pr))
       print("string characters...")
       for i in pr:
          print(i,end='')
rno=int(input("Enter Rollno:"))
name=input("Enter name:")
per=float(input("Enter percentage:"))
list1=[rno,name,per]
compute(list1)
compute(name)

Enter Rollno:5
Enter name:swetha
Enter percentage:98
List Length: 3
List Elements:
5
swetha
98.0

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`